{% extends 'base.html.twig' %}

{% block body %}
   <div class="list-group">
    {% for category in categories %}
        <a href="{{ path('events_category_list', {'category':category.id}) }}" class="list-group-item">
            <span class="badge">{{ category.events | length }}</span>
            {{ category.name }}
        </a>
    {% endfor %}
</div> 
{% endblock %}

